ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.font-bold {
    font-weight: bold;
}

.blue {
    color: #008EFF;
}

.green {
    color: rgb(24, 178, 100)
}

.red {
    color: #FF2660;
    cursor: pointer;
}

.common-link {
    font-size: 14px;
    color: #008EFF;
    letter-spacing: 0;
    cursor: pointer;
    text-decoration: none !important;
}

.operate-span {
    padding: 0 8px;
}

.options-row {
    margin: 32px 0 16px;
}

.p24 {
    padding: 32px;
}

.pt24 {
    padding-top: 24px;
}

.pr24 {
    padding-right: 24px;
}

.pb24 {
    padding-bottom: 24px;
}

.pl24 {
    padding-left: 24px;
}

.p16 {
    padding: 16px;
}

.pt16 {
    padding-top: 16px;
}

.pr16 {
    padding-right: 16px;
}

.pb16 {
    padding-bottom: 16px;
}

.pl16 {
    padding-left: 16px;
}

.p8 {
    padding: 8px;
}

.pt8 {
    padding-top: 8px;
}

.pr8 {
    padding-right: 8px;
}

.pb8 {
    padding-bottom: 8px;
}

.pl8 {
    padding-left: 8px;
}


.m24 {
    margin: 24px;
}

.mt24 {
    margin-top: 24px;
}

.mr24 {
    margin-right: 24px;
}

.mb24 {
    margin-bottom: 24px;
}

.ml24 {
    margin-left: 24px;
}

.m16 {
    margin: 16px;
}

.mt16 {
    margin-top: 16px;
}

.mr16 {
    margin-right: 16px;
}

.mb16 {
    margin-bottom: 16px;
}

.ml16 {
    margin-left: 16px;
}

.m8 {
    margin: 8px;
}

.mt8 {
    margin-top: 8px;
}

.mr8 {
    margin-right: 8px;
}

.mb8 {
    margin-bottom: 8px;
}

.ml8 {
   margin-left: 8px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}